{% extends 'layout.twig' %}

{% block title 'Members' %}

{% block content %}

<h1>Last Active Users</h1>
<ul>
	{% for user in users %}
		<li>
			<strong>{{ user.name }}</strong>
			&ndash;
			<strong>{{ user.time|date("h:ia") }} on <strong>{{ user.time|date("d/m/Y") }}</strong></strong>
			&ndash;
			<em>{{ user.email }}</em>
		</li>
	{% endfor %}
</ul>

{% endblock %}