{% extends 'layout.twig' %}

{% block title 'Login' %}

{% block content %}
<div class="row-fluid">
  <div class="span8 offset2">
    <h2>Log In</h2>
    <p class="lead">Please use your Imperial College credentials:</p>
    <form action="{{ path('login') }}" method="post">
        {{ form_widget(form) }}
      
        <input type="submit" value="Log In" class="btn btn-large btn-primary">
    </form>
  </div>
</div>
{% endblock %}